@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.cadet {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.container {
    width: 100%;
    height: 100vh;
    /* height: 80vh; */
    background: url(t463_vaoz_171224.jpg);
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.container_1 {
    width: 100%;
    height: 80vh;
    background: url(t463_vaoz_171224.jpg);
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 100px;
}

.score {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border: 2px solid;
    display: inline-block;
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
}

.game_status {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    visibility: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: red;
}

.dino {
    width: 150px;
    height: 150px;
    background: url(7784-Shiny-Silvally-Dragon.png);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    bottom: 0%;
    left: 20px;
}

.dragon {
    width: 120px;
    height: 120px;
    background: url(dion2.png);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    bottom: 0%;
    left: 80%;
}

.bird {
    width: 100px;
    height: 100px;
    background: url(sparrow.png);
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    bottom: 10%;
    left: 90%;
}

.birdAni {
    animation: random1 13s infinite;
}

@keyframes random1 {
    to {
        left: -100%;
    }
}

.dragonAni {
    animation: random 10s infinite;
}

.down {
    transition: all 8s;
    bottom: -40%;
}

@keyframes random {
    to {
        left: -100%;
    }
}

.jump {
    animation: animateDino 0.5s linear;
}

.under {
    bottom: -10%;
}

@keyframes animateDino {
    0% {
        bottom: 0%;
    }
    50% {
        bottom: 40%;
        transform: rotate(360deg);
    }
    100% {
        bottom: 0%;
        transform: rotate(0deg);
    }
}